{% extends "layout.html" %}

{% block content %}

{% import "_macros.html" as macros %}

<form action="/operasBas" method="post">
    {{macros.datos("n1","Ingrese el primer numero", "number")}}
     {{macros.datos("nombre","Ingrese el nombre")}}
     {{macros.datos("contrasena ","Ingrese la contrasena","password")}}

    <div class="mb-3">
        <label for="n1" class="form-label">Número 1</label>
        <input type="text" class="form-control" name="n1" id="n1">
    </div>

    <div class="mb-3">
        <label for="n2" class="form-label">Número 2</label>
        <input type="text" class="form-control" name="n2" id="n2">
    </div>

    <div class="mb-3">
        <label class="form-label">Seleccione una opción:</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="operacion" id="sumar" value="sumar" checked>
            <label class="form-check-label" for="sumar">
                Sumar
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="operacion" id="restar" value="restar">
            <label class="form-check-label" for="restar">
                Restar
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="operacion" id="dividir" value="dividir" checked>
            <label class="form-check-label" for="dividir">
                Dividir
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="operacion" id="multiplicar" value="multiplicar">
            <label class="form-check-label" for="multiplicar">
                Multiplicar
            </label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Calcular</button>
</form>


{% endblock %}
